body{
    background: -webkit-linear-gradient(left, rgba(220,103,204,.6) , rgba(163,209,255,.6)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, rgba(255,103,204,.6),rgba(163,209,255,.6)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, rgba(255,103,204,.6),rgba(163,209,255,.6)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, rgba(255,103,204,.6) ,rgba(163,209,255,.6)); /* Standard syntax */
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    text-align: center;
}

.content{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7em;
    padding: 1em;
    height: 1000px;
}

::-webkit-scrollbar { 
    display: none; 
}

.accordion{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.accordion-heading{
    background-color: rgba(188,188,188,.4);
    color: #666;
}

.accordion-heading a{
    color: #666;
}
.accordion-heading a:hover{
    color: #666;
}

.accordion-body{
    background-color: rgba(255,255,255,.4);   
}

#goBack{
    border: 1px solid #aaa;
    border-radius: 33px;
    background-color: rgba(190,190,190,.6);
    color: #333;
    padding: 5px;
    marin-bottom: 2em;
    width: 5%;
    margin-left: auto;
    margin-right: auto;
    
}
#goBack a{
    text-decoration: none;
    color: #333;
}
#goBack a:hover{
    text-decoration: none;
    color: #777;
}